<%- include('partials/header.ejs') %>
<div id="wrapper">
	<h1> Contact Info</h1>
   
   
   <h2>Lading Scientist For the Quantum Computer Research </h2>



   <h3> Full Name: <%- data.name %> <h3> <br>
   <h3> Address: <%- data.address %> <h3><br><br>
   <h3> Phone Number <%- data.phone %> <h3> <br><br> 

   <h3> Email: <%-data.email %>

    </div>
 <%- include('partials/footer.ejs') %>